# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [3]:
a = 4
b = 4
print(a==b)
print(id(a) == id(b))

True
True

у пайтоні цілі числа в діапазоні від -5 до 256 дуже часто використовуюються, тому, щоб не завантажувати пам'ять, нові об'єкти під те саме число не створюються

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [4]:
print(isinstance(True, bool))
print(isinstance(True, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [9]:
a = 30
b = 3.3
# add
print('add:')
print(a+b)
print(b+a)

# subtract
print('\nsubtract:')
print(a-b)
print(b-a)

# divide
print('\ndivide:')
print(a/b)
print(b/a)

# multiply
print('\nmultiply:')
print(a*b)
print(b*a)

# div
print('\ndiv:')
print(a // b)
print(b // a)

# mod
print('\nmod:')
print(a % b)
print(b % a)

# pow
print('\npow:')
print(a ** b)
print(b ** a)

add:
33.3
33.3

subtract:
26.7
-26.7

divide:
9.090909090909092
0.11

multiply:
99.0
99.0

div:
9.0
0.0

mod:
0.3000000000000016
3.3

pow:
74903.16009614884
3592677187515953.5

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [11]:
a = 30
b = 3.3

b_int = int(b)
print('b as int:', b_int)

c = True

c_int = int(c)
print('bool as int:', c_int)

b as int: 3
bool as int: 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [12]:
s1 = ''
s2 = ""

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [16]:
s = 'c\'est la vie'
s_raw = r'c\'est la vie'
print(s)
print(s_raw)

c'est la vie
c\'est la vie

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [20]:
surname = 'Kryzhanivska'
formatted = f'My surname is {surname}'
print(formatted)

My surname is Kryzhanivska

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [21]:
s = 'My dog is crazy.'
lst = s.split()
print(lst)

['My', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [27]:
l1 = [1, 4, 6]
l2 = list((1, 4, 6))
print(len(l2))

3

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [29]:
l1 = [1, 4, 6]
l2 = [2, 5, 7]
l1.append(l2)
print(l1)

[1, 4, 6, [2, 5, 7]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [36]:
l = [[1], [4, 5], [33, 2, 0]]
el = l[-1][0]
print(el)

33

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [40]:
l = [1, False, 'hi', [1, 2], 6.5, -7, True, '''hi
there''', 0.07, [79, '79']]
l_new = l[2:-2]
print(l_new)

['hi', [1, 2], 6.5, -7, True, 'hi\nthere']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [48]:
t = (22,)
t

(22,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

**відмінності**

*   кортежі використовуються для однотипних елементів, списки можуть використовуватись для різних
*   списки змінні, кортежі незмінні
*   у списка квадратні дужки, у котрежа круглі та кома
*   кортежі швидші за рахунок фіксованої довжини

**схожості**

*   обидва послідовності
*   через них можна ітеруватись
*   обидва індексуються

**використання**

кортежі часто використовуються для ітерації в циклі, також можна використовувати як ключ в словнику

списки використовуюються для зберігання різних даних, та коли є необхідність їх доповнювати чи змінювати

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [52]:
t = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
t_new = t[::-2]
print(t_new)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [54]:
st = set()
st.add(3)
st.add(8)
st.add(-5)
st

{-5, 3, 8}

так, множини є змінним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [55]:
my_list = [1, 1, 2, 67, 67, 8, 9]
st = set(my_list)
st

{1, 2, 8, 9, 67}

зникли дублікати елементів, бо множини зберігають тільки унікальні елементи

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [74]:
st1 = {0, 3, 5, 7}
st2 = {2, 3, 6, 4, 0}
# union
print('union:')
print(st1.union(st2))

# deifference
print('\ndifference:')
print(st1.difference(st2))
print(st2.difference(st1))

# intersection
print('\nintersection:')
print(st1.intersection(st2))

# symetrical difference
print('\nsymetrical differnce')
print(st1.symmetric_difference(st2))

union:
{0, 2, 3, 4, 5, 6, 7}

difference:
{5, 7}
{2, 4, 6}

intersection:
{0, 3}

symetrical differnce
{2, 4, 5, 6, 7}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [77]:
dct = {}

dct["hello"] = "world"
dct[2] = "Feb"
dct[3.14] = "pi"
dct[(1, 2, 4)] = "tuple"

print(dct)

{'hello': 'world', 2: 'Feb', 3.14: 'pi', (1, 2, 4): 'tuple'}

список не може бути ключем словника, тому що список це змінни тип, а ключами можуть бути тільки незмінні типи (включаючи кортежі):

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [83]:
homework = {'name': 'python_practice_2',
            'number': 2,
            'course': {'credits': 3,
                       'name': 'Python for Big Data and Data Science',
                       'teacher': {'name': 'Anastasiya', 'surname': 'Deineko', 'is_slay': True}
                       }
            }
print(homework['course']['teacher']['is_slay'])

True

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.